@charset "UTF-8";

.star-rating {
	display : flex;
	flex-direction: row-reverse;
	font-size: 50px;
	line-height: 3.5rem;
	justify-content: space-around;
	padding-left: 100px ;
	text-align: left;
	width: 40px;
	color: white;
}
 

.star-rating input {
	display: none;
}

.star-rating label {
	-webkit-text-fill-color: lightgray;
	
	-webkit-text-stroke-width: 0px;
	-webkit-text-stroke-color: black;
	cursor: pointer;
}

.star-rating :checked ~ label {
	-webkit-text-fill-color: yellow;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
	-webkit-text-fill-color: yellow;
}